<h1><%= @album.name %></h1>

<form id="upload-form" action="/album/photos" method="POST">
  <input type="file" name="photos" multiple data-transloadit-key="<%= ENV.fetch("TRANSLOADIT_KEY") %>">
</form>

<form action="/album" method="post">
  <input type="hidden" name="_method" value="put">
  <%= csrf_tag %>
  <ul class="list-unstyled">
    <% @album.photos.each_with_index do |photo, idx| %>
      <%= partial("photo", locals: {photo: photo, idx: idx}) %>
    <% end %>
  </ul>
  <input type="submit" value="Save" class="btn btn-primary">
</form>
