<html>
  <head>
    <title>Shrine Transloadit Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Shrine demo featuring direct uploads to Transloadit using Uppy" />

    <script src="https://transloadit.edgly.net/releases/uppy/robodog/v1.2.0/robodog.min.js"></script>

    <link href="https://transloadit.edgly.net/releases/uppy/robodog/v1.2.0/robodog.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
